<!-- <div>

  <app-show-score></app-show-score>
</div> -->

<!--
<div>
-->
  <!-- <app-register-user></app-register-user> -->
<!--
  <app-add-scores></app-add-scores>

</div>
-->

<!-- <div>

  <app-footer-component></app-footer-component>
</div> -->

<div>

  <app-header-component [headerLogo]="myLogo" [headerMoto]="myMoto"></app-header-component>

</div>

<div>

  <app-driver></app-driver>
</div>
<div>

    <app-customer></app-customer>

</div>

<div>

  <app-footer-component [footerCopyright]="myCopyright" [footerEmail]="myEmail"></app-footer-component>

</div>